* {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: center;
}
a {
    color: #000;
    text-decoration: none;
}
ul {
    list-style: none;
}